<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<title>Entertaiment News</title>
</head>
<body>
	<header class="header">
		<div class="banner">
			<h1 class="banner_title"><a href="../main.html">ENTERTAIMENT NEWS</a></h1>
		</div>
		<nav class="nav">
			<ul class="nav_list">
				<li><a href="../news.html">Noticias</a></li>
				<li><a href="../games.html">Juegos</a></li>
				<li><a href="../movies.html">Peliculas</a></li>
			</ul>
		</nav>
	</header>
	<main class="main">
		<content class="content">
			<div class="img_port">
				<img src="../Images/Img-Port-Forza-Motorsport.jpg">
			</div>
			<div class="port_news_content">
				<p>Forza Motorsport es un simulador de conducción y coches desarrollado por Turn 10 para Xbox Series y PC. La octava entrega de la saga principal de Forza, se trata de un reinicio y una apuesta a futuro, siendo más realista que sus anteriores secuelas, añadiendo mejoras gráficas y en físicas en vehículos y escenarios, añadiendo ray-tracing, efectos climatológicos avanzados y daño avanzado en los coches.</p>
				<h3>Un juego que busca reinventar el placer de conducir en Xbox y PC</h3>
				<p>Forza Motorsport abraza su condición de simulador de conducción en Xbox y PC, invitándonos a competir por todo el mundo a través de una extensa selección de trazados reales y con un catálogo de más de 500 coches homólogos a sus modelos y ejemplos reales. Desde Turn 10 se ha rehecho por completo la forma de conducir, con cambios en la aceleración, el comportamiento de los coches y la degradación de los neumáticos en las pistas y el asfalto.<br>
				Una de las novedades es el sistema de niveles para los coches, que conforme más jugamos con un coche en concreto, más lo subimos de nivel, permitiéndonos desbloquear nuevas piezas para mejorarlo. Con una nueva inteligencia artificial, opciones de accesibilidad y más, ofrece Modo Libre, Entretenimiento, Modo Principal y un modo Eventos. Con énfasis en el 4K y el trazado de rayos y con un framerate que va de 30 a 60 frames por segundo, Forza Motorsport es además un prodigio técnico en consolas Xbox y PC.</p>
				<img src="../Images/Img-Forza-1.jpg">
				<p>Acostumbrados a alternar cada año entre Forza Horizon y Forza Motorsport, es normal que se nos haya hecho larga la espera tras una ausencia de seis años. Tras el lanzamiento de Forza Motorsport 7, Turn 10 se ha tomado un «descanso» (por llamarlo de alguna manera; estamos seguros de que no ha sido tal) para prácticamente <strong>rehacer desde cero su propuesta automovilística, adaptándola sin compromisos a la nueva generación de Xbox y ordenadores</strong>. ¿Ha merecido la pena la espera?</p>
				<h3>El placer de conducir</h3>
				<p>Forza Motorsport, que abandona su número con esta octava entrega, es un <strong>simulador de conducción que nos lleva a competir por todo el mundo a través de una extensa selección de trazados reales</strong>. No os vamos a explicar cómo se juega a esto, pero sí que vamos a profundizar en qué podemos esperar cuando nos pongamos a los mandos o al volante. Comencemos con lo más importante: la conducción.</p>
				<img src="../Images/Img-Forza-2.jpg">
				<p><strong>Conducir en Forza Motorsport es un auténtico gustazo. Turn 10 ha hecho un trabajo fantástico a la hora de divertir al volante</strong>. Está en nuestra mano ajustar las opciones para hacerlo más simulador o más simcade, pero juguemos como juguemos, es un placer conducir. Los coches responden de maravilla, y reaccionan de manera realista en función de la climatología. Incluso se nos da la opción de elegir cuánto queremos llenar el tanque para mejorar la aceleración y el manejo, a riesgo de quedarnos sin gasolina en plena carrera si no hacemos parada en boxes.</p>
				<img src="../Images/Img-Forza-3.jpg">
				<p>Una decisión un tanto extraña es la de <strong>meter un sistema de niveles para el coche</strong>. Cuanto más jugamos con un coche en concreto más lo subimos de nivel, y esto nos permite desbloquear nuevas piezas para mejorarlo. La idea nos gusta, pero en un juego que se lanza con 500 coches, nos habría gustado algo que nos invitase más a probar otros vehículos que a centrarnos en uno en concreto. Por supuesto, vamos a estar cambiando constantemente de coche al cambiar de prueba, lo que hace que la idea de los niveles se quede un tanto a medias en su ejecución.</p>
				<img src="../Images/Img-Forza-4.jpg">
				<p>De igual modo, también nos sorprende que en un juego que, obviamente, tira más hacia la simulación que a lo arcade, nos encontremos con <strong>una inteligencia artificial tan agresiva</strong>. Nos gusta encontrarnos cierta agresividad sobre la pista, que le da, además, realismo a la competición. Nos gusta cómo tapan cualquier hueco, e incluso cómo cometen errores, pero algo que no terminamos de ver es que nos embistan sin miramientos. No sabemos si es algo que los Drivatars están aprendiendo de conductores reales, pero no son comportamientos propios en un simulador.</p>
			</div>			
		</content>
	</main>
	<footer class="footer">
		
		<p class="foot-text">Pagina Realizada Con fines Practicos</p>
	</footer>
</body>
</html>